@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  /*--foreground: #171717;*/
  --foreground: #000000;
  --primary-color: #0071AD;
  --accent: #FF6600;
  --warning: #BD0A00
}
@layer utilities {
  .text-field {
    color: var(--foreground);
  }
  .form-label {
    @apply block pt-10 font-bold text-2xl py-3
  }
  .form-input {
    @apply border border-blue-300 rounded-sm py-2 h-16 px-3 w-full focus:border-blue-100
  }
  .login-button {
    @apply w-full bg-primary text-white py-3 text-2xl font-bold
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.bg-primary {
  background-color: var(--primary-color);
}
.text-accent {
  color: var(--accent);
}
